#content{
    width:80%;
    background-color: gray;
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
h1{
    color: white;
    font-family: Arial;
}

#txt{
    width:80%;
    height:40px;
    border:none;
}
#submitButton{
    height:42px;
    width:14%;
    background-color: lightgrey;
    border:none;
    margin-left:-4px;
}

#liste{
    width:80%;
    margin: auto;
}
#deleteButton{
    border:none;
    color: gray;
    font-weight: bold;
    margin-left:5px;
    float:right;
}
ul{
}
li{
    list-style: none;
    width:100%;
}
